body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
}

h1{
    color: rgb(0, 140, 255);
}



section{
    background-color: rgb(9, 30, 88);
    border: 2px solid rgba(0, 140, 255);
    border-radius: 51px;
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
}


h2{
    color: rgb(253, 252, 252);
}
p{
    color: rgb(253, 252, 252);
    font-size: 20px;
}

a{
    color: rgb(0, 140, 255);
    font-weight: bold;
}